<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/minty/bootstrap.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand" href="/home">PriCoSha</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarColor01">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/create_group">Create a Friend Group</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/add_friend">Add Friend</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/manage_tags">Manage Tags</a>
	      </li>
	    </ul>
	    <div class="nav-item my-2 my-lg-0">
	      <a href="/logout" class="btn btn-secondary">Logout</a>
	  	</div>
	  </div>
	</nav>
	<div class='jumbotron'>
		<p><h1 class="display-5">Add Friend</h1></p>
		<form class="form-group" action="/addToGroup" method="POST">
			<input style="max-width: 30%;" type="text" class="form-control" id="inputDefault" name = "fname" placeholder="first name" required/>
			<input style="max-width: 30%;" type="text" class="form-control" id="inputDefault" name = "lname" placeholder="last name" required/> </br>
			<select style="max-width: 30%;" name = "fg_name" class="form-control" id="exampleSelect1">
			{% for g in groups %}
				<option value="{{g.fg_name}}">{{g.fg_name}}</option>
			{% endfor %}
			</select> 
			</br>
			</br>
			{% if error %}
				<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
			<input class="btn btn-primary" type="submit" value = "Add Friend" />
		</form>
	</div>

</body>


</html>
